<div class="card-container">
    <app-pokemon-card-central-image *ngIf="cardTypeSelected === 'central-image'" [pokemon]="pokemon"></app-pokemon-card-central-image>
    <app-pokemon-card-top-image *ngIf="cardTypeSelected === 'top-image'" [pokemon]="pokemon"></app-pokemon-card-top-image>
    <app-pokemon-card-overlay-image *ngIf="cardTypeSelected === 'overlay-image'" [pokemon]="pokemon"></app-pokemon-card-overlay-image>
</div>

<div class="panel-container" [ngClass]="{'open-panel': optionsPanelIsOpen === true, 'close-panel': optionsPanelIsOpen === false}">
    <div class="backdrop" (click)="optionsPanelIsOpen = false"></div>
    <app-edition-options-panel (closeOptionsPanel)="closeOptionsPanel()" (changeCardType)="changeCardType($event)"></app-edition-options-panel>
</div>

<div *ngIf="!optionsPanelIsOpen" class="options-button-container">
    <button class="options-button btn btn-primary" (click)="openOptionsPanel()">
        <img src="assets/options-icon.svg" alt="">
    </button>
</div>