:host(.pokemon-selection-container) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5em);
}

.title {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

form {
    width: 40%;
}

@media screen and (max-width: 992px) {
    form {
        width: 50%;
    }

}
@media screen and (max-width: 660px) {
    form {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    :host(.pokemon-selection-container){
        height: unset;
    }

    form {
        width: 90%;
    }

    .title {
        margin: 1em 1em 0 1em;
    }
}
