<h1 class="title">Poke-Card App</h1>

<p class="description">
    Poke-Card es una aplicacion web con la que puedes editar tarjetas sencillas de tus pokemon favoritos. 
    Busca a tu pokemon favorito y edita la tarjeta seleccionando tus colores preferidos. Puedes elegir 
    entre 3 estilos de tarjetas distintos, y cuando estes listo puedes exportarlas en formato svg, png y jpeg. <br>
    La informacion e imagenes de los pokemon son obtenidas desde la 
    <a class="pokeapi-link" href="https://pokeapi.co/" target="_blank" rel="noopener noreferrer">PokeAPI</a>, 
    una API muy completa e interesante acerca de esta serie de videojuegos tan famosa.
</p>

<button class="btn btn-primary" [routerLink]="['/editor']">Comenzar</button>

<div class="steps-container">
    <div class="step">
        <h2>Selecciona</h2>
        <div class="step-image select">
            <img src="assets/images/select.svg" alt="">
        </div>
    </div>
    <div class="step">
        <h2>Edita</h2>
        <div class="step-image edit">
            <img src="assets/images/edit.svg" alt="">
        </div>
    </div>
    <div class="step">
        <h2>Exporta</h2>
        <div class="step-image export">
            <img src="assets/images/export.svg" alt="">
        </div>
    </div>
</div>
