:host(#home-container) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    flex-direction: column;
    padding: 0em 5em 1em 5em;
}

.title {
    margin: 0;
    font-weight: bold;
    z-index: 1;
}

.description {
    padding: 1em 3em 1em 3em;
    width: 70%;
    text-align: center;
    z-index: 1;
    margin: 0;
}

.carousel-container {
    display: none;
    width: 70%;
    padding: 1em;

    .carousel-item {
        height: 20em;
    }
}

.steps-container {
    width: 100%;
    height: 22em;
    display: flex;
    gap: 3em;
    padding: 1em;
    z-index: 1;

    .step {
        width: 100%;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 2em;
        background-color: #FFFFFF;
        background: linear-gradient(180deg,#FFFFFF15 0 49%, #00000015 49% 51%, #FF010115 51% 100%);
        box-shadow: 0 0 0 1px #00000015 inset;
        transition: all 0.3s ease-in-out;

        .step-image {
            height: 80%;
            padding: 0 1em 0 1em;
            transition: transform 0.3s ease-in-out 0s;
            img {
                height: 80%;
                object-fit: cover;
                transition: display 2s;
            }

            img.edit-1 {
                display: initial;
            }

            img.edit-2 {
                display: none;
            }

            img.select-1 {
                display: initial;
            }

            img.select-2 {
                display: none;
            }
        }

        .step-image.select {
            img {
                color: #07A0E3;
            }
        }

        .step-image.export {
            padding-bottom: 0;
            img {
                height: 80%;
            }
        }

        h2 {
            position: relative;
            display: flex;
            align-items: flex-end;
            margin: 0;
            font-weight: bold;
            padding-top: 0.5em;
        }
    }
}



.steps-container .step:hover {

    background: linear-gradient(180deg,#FFFFFF35 0 49%, #00000035 49% 51%, #FF010135 51% 100%);
    box-shadow: 0 0 0 1px #00000035 inset;

    .step-image {
        transform: scale(1.1);
        z-index: 1;

        img.edit-1 {
            display: none;
        }

        img.edit-2 {
            display: initial;
        }

        img.select-1 {
            display: none;
        }

        img.select-2 {
            display: initial;
        }
    }

    .step-image.export {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 992px) {
    .description {
        width: 100%;
    }

    .title {
        padding-top: 1em;
    }

    .steps-container {
        flex-direction: column;
        align-items: center;
        height: unset;

        .step {
            max-width: 60%;
            height: 17em;
        }
    }

    :host(#home-container) {
        height: unset !important;
    }
}

@media screen and (max-width: 768px) {

    .description {
        padding-left: 1em;
        padding-right: 1em;
    }

    .steps-container {

        .step {
            max-width: 70%;
            height: 17em;
        }
    }

    :host(#home-container) {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 576px) {
    .steps-container {
        
        .step {
            max-width: 90%;
            height: 17em;
        }
    }

    :host(#home-container) {
        padding-left: 1em;
        padding-right: 1em;
    }
}