<h1 class="title">Poke-Card App</h1>

<p class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Vel odio quo facilis consequuntur, blanditiis
    quia architecto libero magnam dolorem magni commodi neque
    ex modi explicabo voluptas reiciendis at unde molestiae.
</p>

<button class="btn btn-primary" [routerLink]="['/editor']">Comenzar</button>

<div class="steps-container">
    <div class="step">
        <h2>Selecciona</h2>
        <div class="step-image select">
            <img src="assets/images/select.svg" alt="">
        </div>
    </div>
    <div class="step">
        <h2>Edita</h2>
        <div class="step-image edit">
            <img src="assets/images/edit.svg" alt="">
        </div>
    </div>
    <div class="step">
        <h2>Exporta</h2>
        <div class="step-image export">
            <img src="assets/images/export.svg" alt="">
        </div>
    </div>
</div>
