<div class="options-panel-header">
    <button class="btn-close bg-dark" (click)="closePanel()"></button>
    <div class="form-group">
        <label for="image-type">Tipo de tarjeta:</label>
        <select class="form-select mt-2" id="image-type">
            <option>Tarjeta con imagen central</option>
            <option>Tarjeta con imagen superior</option>
            <option>Tarjeta con imagen superpuesta</option>
        </select>
    </div>
</div>

<app-card-export-options></app-card-export-options>

<app-controls-layout-central-image></app-controls-layout-central-image>
