/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
}

:focus {
    box-shadow: none !important;
}

.form-control {
    box-shadow: inset 0 -3px 0 rgb(0 0 0 / 8%) !important;
}
