<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="top-part-item">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#top-part-item-collapse" aria-expanded="true" aria-controls="top-part-item-collapse">
                Parte superior
            </button>
        </h2>
        <div id="top-part-item-collapse" class="accordion-collapse collapse show" aria-labelledby="top-part-item">
            <div class="accordion-body">
                <div class="controls-group card-top">
                    <div class="color-picker-control">
                        <label>Fondo:</label>
                        <input [(ngModel)]="customValues.cardTopPart.background" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>
                    <div class="color-picker-control">
                        <label>Nombre de pokemon:</label>
                        <input [(ngModel)]="customValues.cardTopPart.pokemonNameColorFont" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>
                    <div class="color-picker-control">
                        <label>Nombre de atributos:</label>
                        <input [(ngModel)]="customValues.cardTopPart.labelsColorFont" class="btn btn-secondary" type="color">
                    </div>
                    <div class="color-picker-control">
                        <label>Indicadores:</label>
                        <input [(ngModel)]="customValues.cardTopPart.colorBadges" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>
                    <div class="color-picker-control">
                        <label>Texto de indicadores:</label>
                        <input [(ngModel)]="customValues.cardTopPart.badgesColorFont" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="custom-controls-options">
                        <span class="badge d-flex align-items-center gap-1" (click)="resetValues('card-top')">
                            <i class="bi bi-arrow-repeat"></i>Reiniciar estilos
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="bottom-part-item">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#bottom-part-item-collapse" aria-expanded="false"
                aria-controls="bottom-part-item-collapse">
                Parte inferior
            </button>
        </h2>
        <div id="bottom-part-item-collapse" class="accordion-collapse collapse" aria-labelledby="bottom-part-item">
            <div class="accordion-body">
                <div class="controls-group card-bottom">
                    <div class="color-picker-control">
                        <label>Fondo:</label>
                        <input [(ngModel)]="customValues.cardBottomPart.background" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="color-picker-control">
                        <label>Nombre de stat:</label>
                        <input [(ngModel)]="customValues.cardBottomPart.statColorFont" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="color-picker-control">
                        <label>Barra de stat:</label>
                        <input [(ngModel)]="customValues.cardBottomPart.radialProgressColor" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="color-picker-control">
                        <label>Fondo de barra de stat:</label>
                        <input [(ngModel)]="customValues.cardBottomPart.radialProgressBackground" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="color-picker-control">
                        <label>Valor de stat:</label>
                        <input [(ngModel)]="customValues.cardBottomPart.radialProgressColorFont" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="color-picker-control">
                        <label>Fondo de valor de stat:</label>
                        <input [(ngModel)]="customValues.cardBottomPart.radialProgressCentralBackground" (ngModelChange)="onChangeControlValue()" class="btn btn-secondary" type="color">
                    </div>

                    <div class="custom-controls-options">
                        <span class="badge d-flex align-items-center gap-1" (click)="resetValues('card-bottom')">
                            <i class="bi bi-arrow-repeat"></i>Reiniciar estilos
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>