<div class="pokemon-card">
    <div class="pokemon-card-top">
        <div class="pokemon-card-image">
            <img [src]="pokemon?.sprites?.front_default" alt="">
        </div>

        <div class="pokemon-name">
            {{ pokemon?.name | titlecase }}
        </div>

        <div class="pokemon-types">
            <span [style.backgroundColor]="pokemonTypeColors[type.name]" *ngFor="let type of pokemon?.types"
                class="badge">
                {{ getTranslatePokemonTypeName(type.name) }}
            </span>
        </div>

        <div class="pokemon-attributes">
            <div class="attribute">
                <span class="label-attribute">Peso:</span>
                <span class="badge bg-secondary">150</span>
            </div>
            <div class="attribute">
                <span class="label-attribute">Exp. Base:</span>
                <span class="badge bg-secondary">150</span>
            </div>
            <div class="attribute">
                <span class="label-attribute">Altura:</span>
                <span class="badge bg-secondary">150</span>
            </div>
        </div>
    </div>
    <div class="pokemon-card-bottom">
        <div class="pokemon-stats">
            <div *ngFor="let stat of pokemon?.stats" class="stat">
                <div class="radial-progress">
                    <div class="center-radial-progress">
                        {{ stat.base_stat }}</div>
                </div>
                <span class="name-stat">{{getTranslateStatName(stat.name) | titlecase}}</span>
            </div>
        </div>
    </div>
</div>